body {
    background-color: rgb(68, 116, 74);
}

.container {
    width: 450px;
    height: 500px;
    background-color: blanchedalmond;
    margin: auto;
    border-radius: 2% ;
    margin-top: 150  px ;
}

.container h1 {
    text-align: center;
}

/* .bb{
    margin: auto;
    background-color: salmon;
    width: 100%;
}
#form{
    width: 100px;
    padding: auto;
    text-align: center;
} */